body, html {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#root{
  width: 100%;
  height: 100%;
}
.Home{
  color: white;  
}
.home-page{
  height: 100%;
}
.home-page-prompt{
  text-align: center;
  margin-top: 131px;
  font-size: 38px;
}
.home-page-league-list{
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
.league-logo{
  width: 20%;
  height: 100%;
  display: inline-block;
}
.league-logo-name{
  text-align: center;
  font-size: 70px;
}
.league-logo-icon{
  height: 35%;
  background-image: url(img/league_logos.png);
  background-repeat: no-repeat;
  background-size: 500%;
}
.league-logo-icon.NBA{
  background-position: 0% 0%;
}
.league-logo-icon.NFL{
  background-position: 25% 0%;
}
.league-logo-icon.MLB{
  background-position: 50% 0%;
}
.league-logo-icon.NHL{
  background-position: 75% 0%;
}
.league-logo-icon.MLS{
  background-position: 100% 0%;
}
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
